 body {
  background-image: url("space.jpg");
}

h1 {
  color: white;
  text-align: center;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#title {
  font-size: 8em;
}

@media screen and (max-width: 1300px) and (min-width: 11001px) {
  #title {
    font-size: 6em;
  }
}

@media screen and (max-width: 1100px) and (min-width: 901px) {
  #title  {
    font-size: 5em;
  }
}

@media screen and (max-width: 900px) and (min-width: 751px) {
  #title {
    font-size: 3em;
  }
}

@media screen and (max-width: 750px) and (min-width: 0px) {
  #title {
    font-size: 2em;
  }
}

